* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.desktop {
  display: none;
}

.logo {
  padding: 3rem 2rem;
}

.soon {
  color: rgb(241, 155, 154);
  text-align: center;
}

h1 {
  letter-spacing: 1.3rem;
  font-size: 4.2rem;
  font-weight: lighter;
  padding: 5rem 3rem 0rem 3rem;
}

span {
  color: rgb(58, 57, 57);
  font-weight: 600;
}

.soon p {
  padding: 2rem 2rem 5rem 2rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  word-spacing: 0.4rem;
}

.email {
  padding: 0rem 2rem 10rem 2rem;
  display: inline-flex;
}

input {
  height: 4.8rem;
  width: /*33rem*/ 82vw;
  padding-left: 2.5rem;
  border-radius: 3rem;
  border: 0.1rem solid rgb(218, 184, 189);
  outline: none;
}

::placeholder {
  color: rgb(218, 184, 189);
}

button {
  height: 4.8rem;
  width: /*7rem*/ 16vw;
  color: white;
  background-color: rgb(241, 155, 154);
  border-radius: 2.5rem;
  border: none;
  font-size: 2.5rem;
  margin-left: -4.5rem;
  vertical-align: top;
  box-shadow: 1px 1px 10px rgb(245, 225, 224), -2px 10px 15px rgb(245, 225, 224);
}

@media screen and (min-width: 768px) {
  #bg {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: repeat-y;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .left {
    float: left;
    width: 55%;
    padding: 5rem;
  }

  .right {
    float: left;
    width: 45%;
  }

  .right img {
    width: 45vw;
    height: 100vh;
  }

  .desktopLogo {
    padding-left: 3rem;
  }

  .soon {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  h1 {
    font-size: 4.8rem;
    padding-bottom: 3rem;
    line-height: 7rem;
  }

  .soon p {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .email {
    display: inline-flex;
  }

  input {
    height: 6rem;
    width: 29rem;
    border: 0.2rem solid palevioletred;
    font-size: 2rem;
  }

  button {
    height: 6rem;
    width: 6.5rem;
    margin-left: 1rem;
    background-color: rgb(249, 205, 206);
  }

  .error {
    margin-top: 1.8rem;
    margin-left: -8rem;
  }

  .desktop p {
    font-size: 1.6rem;
    margin-top: -8rem;
    padding-left: 3.5rem;
    color: pink;
  }
}

@media screen and (min-width: 1300px) {
  #bg {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .right {
    float: left;
    width: 40%;
    height: 100vh;
  }
  .right img {
    width: 54.6rem;
    height: 69.5rem;
  }

  .left {
    float: left;
    width: 60%;
    height: 100vh;
    padding: 5rem 25rem 5rem 15rem;
  }

  .soon {
    text-align: left;
    color: rgb(230, 196, 199);
    padding-top: 4rem;
    margin-bottom: -5rem;
  }

  .soon p {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  h1 {
    font-size: 5.3rem;
    font-weight: 100;
    letter-spacing: 1.6rem;
    margin-bottom: -3rem;
  }

  .desktopLogo {
    padding-left: 2.8rem;
  }

  .email {
    display: inline-flex;
  }

  input {
    height: 4.8rem;
    width: 35rem;
    font-size: 1.5rem;
    border: 0.2rem solid palevioletred;
  }

  button {
    height: 4.8rem;
    width: 7.5rem;
    margin-left: 1rem;
    background-color: rgb(249, 205, 206);
  }

  .error {
    margin-top: 1.1rem;
    margin-left: -8rem;
  }

  .desktop p {
    font-size: 1.5rem;
    margin-top: -8rem;
    padding-left: 3.5rem;
    color: pink;
  }
}
